.div_one {
    background-color: red;
    border-right: 7px solid orange;
    padding: 40px;
    display: inline-block;
    margin-right: 40px;
}
.second_div {
    background-color: blue;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
    border: 2px solid green;
}
.third_div {
    width: 60px;
    height: 60px;
    background-color: #00aced;
}
.fourth_div {
    display: none;
}