.div_one {
    background-color: red;
    border-right: 6px solid orange;
    padding: 35px;
    display: inline-block;
    margin-right: 35px;
}
.second_div {
    background-color: blue;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 41px;
    padding-bottom: 41px;
    display: inline-block;
    border: 3px solid green;
}
.third_div {
    width: 80px;
    height: 80px;
    background-color: #00aced;
}
.fourth_div {
    display: none;
}