.div_one {
    background-color: red;
    border-right: 1px solid orange;
    padding: 20px;
    display: inline-block;
    margin-right: 20px;
}
.second_div {
    background-color: blue;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
    border: 2px solid green;
}