header {
    text-align: center;
  }
  nav a {
    color: red;
  }
  p {
    font-size: 18px;
  }
  .conteiner {
      display: inline-flex;
      background-color: pink;
      border: 10px solid purple;
      padding: 10px;
  }
  .box {
      color: red;
      text-align: center;
      padding: 5px;
      
  }
  .alltext {
      display: flex;
      justify-self: start;
      padding: 5px;
      background-color: yellow;
  }
  .text {
      color: green;
  }
  